@font-face {
  font-family: Cano;
  src: url("../fonts/Cano.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background: #010510;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5 {
  color: rgb(201, 198, 198);
  font-family: "Alegreya", serif;
}

p {
  font-family: "Jost", sans-serif;
}
img {
  width: 100%;
}
ul {
  margin: 0px;
  padding: 0px;
}
/* section {
  padding: 60px 0;
  min-height: 100vh;
} */

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
}

a,
a:active,
a:focus {
  color: #ffffff;
  text-decoration: none;
  transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
}

/* PERSONALIZACIÓN DE LA BARRA DE NAVEGACIÓN */

::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background: #011033;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb {
  background: #b40cf0;
  border-radius: 50px;
}

/* ÍCONOS */
i {
  color: #b40cf0;
}
i.fas {
  font-size: 30px;
  position: relative;
  left: 0;
  top: 21px;
}
i.far {
  font-size: 30px;
  font-size: 30px;
  position: relative;
  left: 0;
  top: 21px;
}

/* Botón top */

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}

/* Botón adherí tu negocio */
.botonadd {
  background: linear-gradient(102deg, #4551b5 40%, #543fd7 60%);
  color: #ffffff;
  display: inline-block;
  padding: 2rem 8rem;
  border-radius: 0.25rem;
  min-width: 200px;
  text-decoration: none;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.99);
    box-shadow: 0 0 0 0 rgba(256, 256, 256, 0.1);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 25px rgba(256, 256, 256, 0);
  }
  100% {
    transform: scale(0.99);
    box-shadow: 0 0 0 0 rgba(256, 256, 256, 0);
  }
}

/* ######################################## INICIO NAVBAR ######################################## */

.header {
  background-color: rgb(0 0 0);
  box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 4px 0px;
  position: fixed;
  width: 100%;
  height: 17%;
  z-index: 3;
}

.header ul {
  margin: 0;
  margin-top: 30px;
  margin-right: 68px;
  padding: 0;
  list-style: none;
  overflow: hidden;
  /* background-color: #fff; */
  font-family: Verdana;
  font-size: 20px;
  color: #ffffff;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
  color: #ffffff;
  letter-spacing: 1px;
  font-weight: 600;
}

.header li a:hover,
.header .menu-btn:hover {
  background: #d47cf28e;
  color: #010510;
}
/* LOGO NAVBAR */
.logox {
  display: block;
  float: left;
  width: 9%;
  height: 100%;
  padding: 10px 20px;
  -webkit-animation-name: logo;
  animation-name: logo;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}
/* ANIMACIONES DEL LOGO NAVBAR */
@-webkit-keyframes logox {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.07);
    transform: scale(1.07);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes logox {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.07);
    transform: scale(1.07);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  --display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #fff;
  display: block;
  height: 3px;
  position: relative;
  bottom: -37px;
  left: -15px;
  transition: background 0.2s ease-out;
  width: 26px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: rgb(255, 255, 255);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 100vh;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}
/* ######################################## FIN NAVBAR ######################################## */

/* ######################################## INICIO CAROUSEL ######################################## */

.carousel .background {
  background-position: center center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 700px;
}

@media (max-width: 991px) {
  .carousel .background {
    background-size: cover; /* To make the background image looks good */
  }
}
/* Imágen 1 carousel */
.carousel .background.a {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/carousel/bar.jpg");
}
/* Imágen 2 carousel */
.carousel .background.b {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/carousel/boliche.jpg");
}
/* Imágen 3 carousel */
.carousel .background.c {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/carousel/imagen3.jpg");
}

.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition: opacity 0.5s; /* The 0.5s describes the duration to make the opacity from 0 to 1 */
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}
/* CSS Hack to trigger GPU for smooth transition */
@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel-fade .carousel-inner > .item.next,
  .carousel-fade .carousel-inner > .item.active.right {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .carousel-fade .carousel-inner > .item.prev,
  .carousel-fade .carousel-inner > .item.active.left {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .carousel-fade .carousel-inner > .item.next.left,
  .carousel-fade .carousel-inner > .item.prev.right,
  .carousel-fade .carousel-inner > .item.active {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
/* CSS Hack to trigger GPU for smooth transition */

/* ######################################## FIN CAROUSEL ######################################## */

/* ANIMACIÓN e ÍCONO VER MÁS */
@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateX(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@-moz-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
/* ÍCONO DE FLECHA HACIA ABAJO */
.bounce {
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
  position: absolute;
  left: 48%;
  bottom: -92%;
  font-weight: 900;
  font-size: 6rem;
}

.covertext {
  position: absolute; /* To make the div to be place anywhere. It is out of the document flow */
  top: 200px; /* The distance between the div with the top of document */
  left: 0px; /* Make the div full width */
  right: 0px; /* Make the div full width */
}

/* TÍTULO SALE JODA */
.titulo_nav {
  font-family: Cano;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
  font-size: 108px;
  letter-spacing: 2px;
  word-spacing: 2px;
}

/* SUBTÍTULO SALE JODA */
.subtitle {
  font-size: 35px;
  color: #ffffff;
  text-align: center;
}

.explore {
  text-align: center;
  margin-top: 10px;
}

/* BOTÓN VER MÁS */
.explore .btn-lg {
  font-family: "Jost", sans-serif;
  border-radius: 49px;
  padding: 15px 25px;
  font-size: 25px;
  background-image: none;
  background-color: #8c03c58f;
  border-color: #00000070;
  color: #ffffff;
  position: absolute;
  bottom: -115px;
  left: 44%;
  letter-spacing: 1px;
}
.explore .btn-lg:hover {
  background-image: none;
  background-color: #ffffff8c;
  color: rgb(0, 0, 0);
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  color: #ffffff;
  outline: none;
}

.contenedor {
  position: relative;
  display: inline-block;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}
/* TEXTO DE SEPARADOR 1 */

.introduccion_1 {
  font-size: 30px;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
  position: absolute;
  top: 33%;
  left: 63%;
  transform: translate(-50%, -50%);
  word-spacing: 3px;
  letter-spacing: 3px;
  line-height: 46px;
}
.introduccion_1 span {
  background: linear-gradient(180deg, #011033 47.04%, #492243 113.28%);
}
/* TEXTO DE SEPARADOR 2 */
.introduccion_2 {
  font-size: 30px;
  --font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  font-weight: 600;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  position: absolute;
  top: 49%;
  left: 62%;
  transform: translate(-136%, -70%);
  word-spacing: 4px;
  letter-spacing: 1px;
  line-height: 63px;
}

.introduccion_2 span {
  background: linear-gradient(180deg, #011033 47.04%, #492243 113.28%);
}

.logo img {
  width: 300px; /* Cambiar esto para móviles */
  -webkit-animation-name: logo;
  animation-name: logo;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

.logo {
  margin-bottom: 28px;
}

@-webkit-keyframes logo {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.07);
    transform: scale(1.07);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes logo {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.07);
    transform: scale(1.07);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/* ######################################## INICIO DE SERVICIOS ######################################## */

#servicios {
  padding: 60px 0;
}
.our-service-sass {
  background-size: 100%;
  background-position: center;
  position: relative;
  padding: 15px 0 115px;
  background-color: #010510;
}
.our-service-sass .main-title {
  font-size: 40px;
  letter-spacing: 1px;
}

.icon-img {
  float: left;
  width: 100px;
  height: 200px;
  position: absolute;
  top: 50px;
  text-align: center;
}

.service-block .icon-img {
  float: left;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 8px;
  left: 10px;
  text-align: center;
}

.our-service-sass .service-block {
  background: rgb(0 0 0);
  border: 1px solid rgb(195 1 235);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgb(255 255 255) 0px 0px 12px;
  position: relative;
  z-index: 1;
  padding: 180px 30px 25px 40px;
  margin-top: 45px;
}

.our-service-sass .service-block:before {
  content: "";
  width: 273px;
  height: 273px;
  background: #992b75;
  border-radius: 50%;
  position: absolute;
  top: -148px;
  left: -83px;
  transform: scale(0);
}

.our-service-sass .service-block:hover:before {
  transform: scale(1);
  transition: all 0.5s linear;
  transition-delay: 0.1s;
}

.our-service-sass .service-block:hover {
  border-color: transparent;
}

.our-service-sass .service-block .title a {
  font-size: 28px;
  font-weight: 600;
  line-height: 32px;
  color: #5f9aed;
  letter-spacing: 1px;
  position: relative;
  top: -36px;
}

.our-service-sass .service-block p {
  color: #e600c2;
  font-weight: 600;
  text-align: left;
  letter-spacing: 1px;
  font-size: 17px;
}

.our-service-sass .service-block:hover .title a {
  color: #fff;
}

.our-service-sass .service-block:hover p {
  color: #d884cc;
  font-weight: 900;
}

.our-service-sass .service-block .detail-button {
  font-size: 40px;
  color: #cad5e5;
}

.our-service-sass .service-block .hover-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #6d2c57;
  z-index: -3;
  opacity: 0;
  transition: all 0.3s linear;
}

.our-service-sass .service-block:hover .hover-content {
  opacity: 1;
}

.our-service-sass .service-block .hover-content:before {
  content: "";
  width: 493px;
  height: 493px;
  background: #010510;
  border-radius: 50%;
  position: absolute;
  top: -250px;
  left: -180px;
  z-index: 1;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.our-service-sass .service-block:hover .hover-content:before {
  opacity: 1;
  transform: translate(0, 0);
  transition: all 0.9s linear;
}

.our-service-sass .service-block .hover-content:after {
  content: "";
  width: 602px;
  height: 602px;
  background: #0b0866;
  border-radius: 50%;
  position: absolute;
  top: -196px;
  left: -180px;
  z-index: -1;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.our-service-sass .service-block:hover .hover-content:after {
  opacity: 1;
  transform: translate(0, 0);
  transition: all 1.3s linear;
}

.our-service-sass .service-block .snow-dot {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  background: rgba(255, 255, 255, 0.5);
  z-index: -1;
}

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.our-service-sass .service-block .snow-dot:nth-child(1) {
  top: 25px;
  left: 41%;
  z-index: 1;
  animation: scale-upOne 1s alternate infinite ease-in;
}

.our-service-sass .service-block .snow-dot:nth-child(2) {
  top: 25px;
  left: 78%;
  animation: scale-upOne 1.1s alternate infinite ease-in;
}

.our-service-sass .service-block .snow-dot:nth-child(3) {
  top: 75px;
  left: 61%;
  animation: scale-upOne 0.8s alternate infinite ease-in;
}

.our-service-sass .service-block .snow-dot:nth-child(4) {
  top: 136px;
  left: 84%;
  animation: scale-upOne 1s alternate infinite ease-in;
}

.our-service-sass .service-block .snow-dot:nth-child(5) {
  bottom: 35px;
  right: 12%;
  animation: scale-upOne 1.2s alternate infinite ease-in;
}

.our-service-sass .service-block .snow-dot:nth-child(6) {
  bottom: 80px;
  right: 31%;
  animation: scale-upOne 0.9s alternate infinite ease-in;
}

.our-service-sass .service-block .snow-dot:nth-child(7) {
  bottom: 40px;
  right: 51%;
  animation: scale-upOne 1s alternate infinite ease-in;
}

.theme-more-feature.our-service-sass .inner-wrapper:after,
.theme-more-feature.our-service-sass .inner-wrapper:before,
.theme-more-feature.our-service-sass:after,
.theme-more-feature.our-service-sass:before {
  display: none;
}

.our-service-sass.theme-more-feature {
  background: 0 0;
  padding: 165px 0 180px;
}

.our-service-app {
  position: relative;
  padding: 260px 0 200px;
  border-bottom: 1px solid #ededed;
}

.our-service-app .main-content {
  max-width: 1450px;
  padding: 0 15px;
  margin: 90px auto 0;
}

.our-service-app .main-content .inner-wrapper {
  text-align: center;
  position: relative;
  margin-top: 50px;
}

.our-service-app .main-content .inner-wrapper p {
  line-height: 30px;
  padding: 0 50px;
  color: #8c929d;
}

.our-service-app .main-content .inner-wrapper .illustration-box {
  display: inline-block;
  position: relative;
  min-height: 230px;
}

.our-service-app
  .main-content
  .single-block:nth-child(1)
  .illustration-box
  .bg-shape,
.our-service-app
  .main-content
  .single-block:nth-child(3)
  .illustration-box
  .bg-shape {
  animation: rotated 35s infinite linear;
}

.our-service-app
  .main-content
  .single-block:nth-child(1)
  .illustration-box
  .block-shape-one {
  position: absolute;
  top: 42px;
  left: -16px;
}

.our-service-app
  .main-content
  .single-block:nth-child(1)
  .illustration-box
  .block-shape-two {
  position: absolute;
  top: 42px;
  right: 0;
}

.our-service-app
  .main-content
  .single-block:nth-child(1)
  .illustration-box
  .block-shape-three {
  position: absolute;
  bottom: 24px;
  right: 0;
}
.our-service-app
  .main-content
  .single-block:nth-child(1)
  .illustration-box
  [class*="block-shape"] {
  transform: scale(1.5);
}

.our-service-app
  .main-content
  .single-block
  .illustration-box
  [class*="block-shape"] {
  opacity: 0;
  transition: all 1.5s ease-in-out;
}
.our-service-app
  .main-content
  .single-block:nth-child(2)
  .illustration-box
  .block-shape-one {
  position: absolute;
  top: 120px;
  left: 26px;
  transform: scale(1.5);
}

.our-service-app
  .main-content
  .single-block:nth-child(2)
  .illustration-box
  .block-shape-two {
  position: absolute;
  top: 0;
  left: 120px;
  transform: scale(1.5);
}

.our-service-app
  .main-content
  .single-block:nth-child(2)
  .illustration-box
  .block-shape-three {
  position: absolute;
  top: 66px;
  right: 6px;
  transform: scale(1.5);
}

.our-service-app
  .main-content
  .single-block:nth-child(2)
  .illustration-box
  .block-shape-four {
  position: absolute;
  top: 52px;
  right: 63px;
  transform: translateY(30px);
}

.our-service-app
  .main-content.show-pr
  .single-block:nth-child(2)
  .illustration-box
  [class*="block-shape"] {
  opacity: 1;
  transform: scale(1);
}

.our-service-app
  .main-content.show-pr
  .single-block:nth-child(2)
  .illustration-box
  .block-shape-four {
  transform: translateY(0);
}
.our-service-app
  .main-content
  .single-block:nth-child(3)
  .illustration-box
  .block-shape-one {
  position: absolute;
  top: 7px;
  left: 45px;
  transform: scale(1.5);
}

.our-service-app
  .main-content.show-pr
  .single-block:nth-child(1)
  .illustration-box
  [class*="block-shape"],
.our-service-app
  .main-content.show-pr
  .single-block:nth-child(2)
  .illustration-box
  [class*="block-shape"],
.our-service-app
  .main-content.show-pr
  .single-block:nth-child(3)
  .illustration-box
  [class*="block-shape"] {
  opacity: 1;
  transform: scale(1);
}

.our-service-app
  .main-content
  .single-block:nth-child(2)
  .illustration-box:after,
.our-service-app
  .main-content
  .single-block:nth-child(2)
  .illustration-box:before {
  content: "";
  position: absolute;
  width: 145px;
  height: 1px;
  border-top: 1px dashed #e6e6e6;
  top: 45%;
}

.our-service-app
  .main-content
  .single-block:nth-child(2)
  .illustration-box:before {
  right: -150px;
}

.our-service-app
  .main-content
  .single-block:nth-child(2)
  .illustration-box:after {
  left: -150px;
}

.our-service-app .main-content .more-button {
  display: block;
  width: 230px;
  line-height: 51px;
  border-radius: 30px;
  background: #614ef9;
  border: 2px solid #614ef9;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  margin: 100px auto 0;
  text-align: center;
}

.our-service-app .main-content .more-button:hover {
  background: #fff;
  color: #614ef9;
}

.our-service-app .main-content .down-arrow {
  display: block;
  width: 60px;
  height: 60px;
  box-shadow: 0 15px 20px 0 rgba(209, 218, 235, 0.35);
  background: #fff;
  border-radius: 50%;
  margin: 0 0 0 -30px;
  line-height: 60px;
  text-align: center;
  color: #7494b5;
  font-size: 20px;
  position: absolute;
  bottom: -30px;
  left: 50%;
  z-index: 1;
}

.our-service-app .main-content .down-arrow span {
  display: block;
  transform: rotate(-90deg);
}

.our-service-app .main-content .down-arrow:hover {
  color: #fff;
  background: #614ef9;
}

/* ######################################## FIN DE SERVICIOS ######################################## */

/****************ANIMACIÓN DE LOGO GIRANDO*************/

.bg-shape {
  -webkit-animation: rotate-center 5s linear infinite both;
  animation: rotate-center 5s linear infinite both;
  cursor: pointer;
  width: 100px;
}

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes scale-upOne {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
  }
}

@keyframes scale-upOne {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
  }
}

/* FIN ANIMACIÓN LOGO GIRANDO */

/* ################################## INICIO DE CARACTERÍSTICAS - FEATURES ################################## */

#features {
  background: #010510;
}

#features h2 {
  font-size: 40px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: 1px;
}
#features h2 span {
  color: #e600c2;
  font-size: 43px;
  font-weight: 600;
  letter-spacing: 3px;
}
#features .icon {
  border-radius: 4px;
  text-align: center;
  position: relative;
  z-index: 1;
}

#features .content-left span {
  float: right;
}

#features .content-left .text {
  text-align: left;
}
#features .content-right .text {
  text-align: right;
}

#features .content-right span {
  float: left;
}

#features .box-item {
  box-shadow: 0 0 12px #5300d9;
  padding: 15px;
  line-height: 22px;
  margin-top: 30px;
  border-radius: 30px;
  background-color: #00000047;
  -webkit-transition: all 0.3s ease-in-out;
  -mox-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: relative;
  top: 0;
  color: #ffffff;
}
#features .box-item:hover {
  background: rgb(121, 109, 216);
}
#features .box-item:hover .text h4 {
  color: #000;
  font-weight: 600;
  font-family: "Jost";
}
#features .box-item:hover .icon i {
  color: rgb(233, 0, 175);
  font-weight: 600;
}
#features .box-item .icon {
  text-align: center;
  margin: 12px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

#features .box-item .icon i {
  color: #b40cf0;
  font-size: 30px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

#features .box-item .text h4 {
  color: #e600c2;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 1px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  text-align: center;
}

#features .box-item .text p {
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.5px;
}

/* #features .box-item:hover {
  box-shadow: 0 10px 22px 10px rgba(27, 38, 49, .1)
} */

#features .show-box {
  margin-top: 50px;
}

#features .show-box img {
  width: 100%;
  position: relative;
  left: -30px;
  top: 35px;
}

#features .botonadd {
  font-size: 16px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  position: relative;
  top: 60px;
  left: 562px;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 2px;
  border-radius: 25px;
  text-transform: uppercase;
  /*  padding: 2rem 6rem; */
}

#features .botonadd:hover {
  text-decoration: none;
  color: #000000;
  font-size: 17px;
}
/* ##################################### FIN DE CARACTERÍSTICAS - FEATURES ##################################### */

/* ######################################## INICIO DE PASOS - STEPS ######################################## */

#steps .container {
  padding-right: 40px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 55px;
  margin-top: auto;
}
#steps h2 {
  font-size: 43px;
  font-weight: 600;
  letter-spacing: 3px;
}
#steps h2 span {
  color: #e600c2;
  font-size: 43px;
  font-weight: 600;
  letter-spacing: 3px;
}
#steps h3 {
  font-weight: 545;
  letter-spacing: 1px;
}

#steps span {
  color: rgb(7, 102, 237);
  font-size: 40px;
  font-weight: 600;
}

#steps p {
  color: #fc95ed;
  font-size: 15.5px;
}

#steps .img-step img {
  width: 15%;
  position: relative;
  left: 130px;
  bottom: -65px;
}

#steps .botonadd {
  font-size: 16px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  position: relative;
  top: 5px;
  left: 480px;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 25px;
}
#steps .botonadd:hover {
  text-decoration: none;
  color: #000000;
  font-size: 17px;
}

/* ANIMACIONES AL SELECCIONAR */
.col-sm-4 h3 a {
  line-height: 68px;
  display: inline-block;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  cursor: default;
  padding: 0 4px;
  color: #ffffff;
  font-size: 28px;
}

.col-sm-4 h3 a:before,
.col-sm-4 h3 a:after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  box-sizing: border-box;
  transform: scale(0);
}

.col-sm-4 h3 a:before {
  transform: translateX(100%);
  bottom: 0;
  left: 0;
  height: 2px;
  border-bottom: 2px solid transparent;
  border-left: 2px solid transparent;
  transition: 0.1s transform linear, 0.1s height linear 0.1s;
}
.col-sm-4 h3 a:after {
  transform: translateX(-100%);
  top: 0;
  left: 0;
  height: 2px;
  border-top: 2px solid transparent;
  border-right: 2px solid transparent;
  transition: 0.1s transform linear 0.2s, 0.1s height linear 0.3s;
}
.col-sm-4 h3 a:hover:after,
.col-sm-4 h3 a:hover:before {
  transform: translateX(0);
  height: 100%;
  border-color: #333;
}
/* ######################################## FIN DE PASOS - STEPS ######################################## */

/* ######################################## INICIO DE PLAN GRATUITO ######################################## */

#plan {
  padding: 60px 0;
}

#plan .img-plan img {
  width: 19%;
  height: 100%;
  display: flex;
  position: relative;
  left: 84px;
  bottom: -25px;
}

#plan .contenido_plan h2 {
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 3px;
}

#plan .contenido_plan h2 span {
  color: #e600c2;
}

#plan .contenido_plan p {
  line-height: 20px;
  font-size: 16px;
  letter-spacing: 0.5px;
  color: rgb(165 199 247);
}
#plan .contenido_plan p span {
  color: #f79be9;
}

/* TARJETA PLAN */
.tarjeta {
  box-shadow: 0 4px 15px 0 rgb(255 0 200 / 70%);
  max-width: 300px;
  margin: auto;
  padding: 26px 11px 10px;
  text-align: center;
  position: absolute;
  transform: translate(285%, -60%);
}
.tarjeta h1 {
  letter-spacing: 1px;
}
.price {
  color: grey;
  font-size: 22px;
}

.gratis {
  width: 100%;
  margin-left: -46px;
}

/* BOTÓN TARJETA PLAN */
.tarjeta .botonadd {
  background: linear-gradient(102deg, #4551b5 40%, #543fd7 60%);
  color: #ffffff;
  display: inline-block;
  padding: 1rem 7rem;
  border-radius: 0.25rem;
  min-width: 200px;
  text-decoration: none;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
  animation: pulse 1.5s infinite;
  font-weight: 500;
}
/* ######################################## FIN DE PLAN GRATUITO ######################################## */

/* ######################################## INICIO DE FAQ ######################################## */

/* Fondo de imágen */
.fondo_lindo {
  background-image: url(../images/fondo_lindo2.png);
  background-size: cover;
  background-position: center;
}

.titulo-faq {
  text-align: center;
  font-size: 40px;
  letter-spacing: 2px;
  font-weight: 600;
}

details {
  width: 51%;
  max-width: 700px;
  padding: 45px 70px 45px 45px;
  margin: 0 auto;
  position: relative;
  font-size: 22px;
  border: 1px solid rgb(185 15 241);
  border-radius: 45px;
  box-sizing: border-box;
  transition: all 0.3s;
}

details + details {
  margin-top: 20px;
}

details[open] {
  min-height: 50px;
  background-color: transparent;
  box-shadow: 2px 2px 20px rgb(0 0 0 / 20%);
}

summary h4 {
  font-size: 25px;
  color: #ffffff;
  letter-spacing: 1px;
  line-height: 57px;
}

details p {
  color: #b1b1b1;
  font-weight: 500;
  font-size: 19px;
}

summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

summary:focus {
  outline: none;
}

summary:focus::after {
  content: "";
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

summary::-webkit-details-marker {
  display: none;
}

.control-icon {
  fill: rgb(236, 95, 255);
  transition: 0.3s ease;
  pointer-events: none;
}

.control-icon-close {
  display: none;
}

details[open] .control-icon-close {
  display: initial;
  transition: 0.3s ease;
}

details[open] .control-icon-expand {
  display: none;
}

/* ######################################## FIN DE FAQ ######################################## */

/* ######################################## INICIO FOOTER ######################################## */

.row-footer {
  margin-bottom: 55px;
}
.footer-section {
  background: #010510;
  position: relative;
}
.footer-cta {
  border-bottom: 2px solid #c228e9;
  margin-top: 8rem;
}
.single-cta i {
  color: #aa43bd;
  font-size: 29px;
  float: left;
  margin-top: -19px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
  position: relative;
  bottom: 30px;
  left: 0;
}
.cta-text h4 {
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 13px;
  font-weight: 600;
}
.footer-content {
  position: relative;
  z-index: 2;
  margin-top: 20px;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 20px;
}
.footer-logo img {
  max-width: 250px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
  color: #a77cdf;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
  color: #ffffff;
}
.facebook-bg {
  background: #3b5998;
}
.twitter-bg {
  background: #55acee;
}
.instagram-bg {
  background: #c02372;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 27px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: rgb(197 20 255);
}
.footer-widget ul li {
  display: inline-block;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover {
  color: rgb(197 20 255);
}
.footer-widget ul li a {
  color: #8d8f91;
  font-size: 15px;
  letter-spacing: 1px;
}
.registrarme-footer {
  position: relative;
}
footer .botonadd {
  border-radius: 14px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 15px 30px 15px;
  font-family: "Jost", sans-serif;
}
footer .botonadd:hover {
  color: #000;
}
.copyright-area {
  background: rgb(57 35 98 / 73%);
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 15px;
  color: rgb(135, 135, 135);
  font-weight: 600;
}
.copyright-text p a {
  color: #c228e9;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a {
  color: #c228e9;
}
.footer-menu li a {
  font-size: 15px;
  color: rgb(135, 135, 135);
  font-weight: 600;
}
/* ######################################## FIN FOOTER ######################################## */

/* ######################################## INICIO PÁGINA CONTACTO ######################################## */

/* Contenedor del iframe de MAPS */
.embed-container {
  overflow: hidden;
  padding-bottom: 440px; /*Reduce este valor si el mapa fuera muy alto, por ejemplo 250px, puedes usar porcentajes, 50%*/
  position: relative;
  height: 0;
}
/* Clase del iframe */
.iframe-responsivo {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
#img_contacto {
  position: relative;
  top: 10px;
  padding: 100px 0;
  width: 100%;
  height: 70vh;
  background: url(../images/fondo_lindo.png) center center fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

/* DARLE COLOR DE TRANSPARENCIA A LA FOTO */

/* #img_contacto::before {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #4945454d;
  content: "";
} */

.contacto_titulo {
  font-family: "Alegreya", serif;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
  font-size: 85px;
  letter-spacing: 2px;
  word-spacing: 2px;
}
.contacto_subtitulo {
  color: #837e7e;
  font-size: 22px;
  text-align: center;
}
.centrado {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.centrado_subtitulo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 150%);
}
.contacto_txt {
  text-align: center;
  color: #f4f4f4;
  letter-spacing: 1px;
}
.contacto_txt h2 {
  font-size: 36px;
}
.conversar {
  display: flex;
  margin: 8px 11px 8px 11px;
  justify-content: space-between;
}
.conversar:hover {
  color: #fa86e9;
}
.conversar p {
  position: relative;
  top: 18px;
  left: -28px;
  font-size: 24px;
  letter-spacing: 1px;
  font-weight: 600;
}
.column p:nth-child(3) {
  font-size: 18px;
  text-align: center;
  color: rgb(182, 182, 182);
}

/* Style inputs */
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 2px solid #9342a9;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  border-radius: 9px;
}

input[type="submit"] {
  background-color: rgb(151 83 165 / 93%);
  color: white;
  padding: 10px 36px;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 10px;
  letter-spacing: 1px;
}

input[type="submit"]:hover {
  background-color: #00010c;
}

/* Style the container/contact section */
.container_contact {
  border-radius: 30px;
  background-color: #1c187e;
  padding: 10px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 1010px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}
.row_contact {
  margin-right: -15px;
  margin-left: -15px;
}
/* Clear floats after the columns */
.row_contact:after {
  content: "";
  display: table;
  clear: both;
}
#contacto label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 7px;
  font-weight: 700;
  color: #ffff;
}
#contacto {
  padding: 60px 0;
}
/* @media screen and (max-width: 600px) {
  .column,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
} */
/*  #######################################  INICIO RESPONSIVE  #####*/

@media (min-width: 280px){
  
  .titulo_nav {
    font-size: 53px;
    font-family: Cano;
  }

  .subtitle {
    font-size: 24px;
  }

  .explore .btn-lg {
    position: static;
  }
  .bounce {
    left: 40%;
    bottom: -64%;
  }

  .introduccion_1 {
    font-size: 12px;
    font-weight: 600;
    color: #ffffff;
    text-transform: uppercase;
    position: absolute;
    top: 37%;
    left: 63%;
    transform: translate(-50%, -50%);
    line-height: 0.9;
    letter-spacing: 1px;
    word-spacing: 0px;
  }

  .bg-shape{
    width: 80px;
  }
  .logo .text-center{
    margin-bottom: 0px;   
  }

  #servicios{
    padding: 10px;
  }

  .introduccion_2 {
    font-size: 11px;
    top: 65%;
    left: 62%;
    transform: translate(-136%, -70%);
    word-spacing: 2px;
    letter-spacing: 1px;
    line-height: normal;
  }

  .logo img {
    width: 250px;
  }
  .our-service-sass{
    padding: 0px;
  }
  .our-service-sass .main-title {
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .our-service-sass .service-block .title a {
    font-size: 18px;
    line-height: 10px;
  }
  .our-service-sass .service-block p {
    font-size: 15px;
    margin: 0px;
    line-height: normal;
  }

  #features h2 {
    font-size: 25px;
    line-height: normal;
  }
  #features h2 span {
    font-size: 30px;
  }

  #features .box-item .icon i {
    top: 0px;
  }
  #features .box-item .text h4{
    font-size: 20px;
  }
  #features .box-item .text p {
    font-size: 12px;
    line-height: normal;
    margin: 0px;
  }

  #features .show-box img {
    top: 0px;
  }

  #steps h2{
    font-size: 25px;
    line-height: normal;
  }

  #steps h2 span {
    font-size: 30px;
  }

  #steps h3 {
    letter-spacing: normal;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  /* PARTE DE CREA TU CUENTA ¿? */

  .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-right: 0px;
    line-height: normal;
  }
  .fas {
    top: 0px;

  }
}

/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
@media (min-width: 320px) {
  .logox {
    display: block;
    float: left;
    width: 25%;
    height: 100%;
    padding: 16px 18px;
  }
  .header .menu-btn:checked ~ .menu {
    max-height: 100vh;
    width: 100%;
    background: #520b50;
    font-family: "Jost";
    font-size: 25px;
  }
  .container-fluid > .navbar-collapse,
  .container-fluid > .navbar-header,
  .container > .navbar-collapse,
  .container > .navbar-header {
    margin-right: -15px;
    margin-left: -384px;
  }
  .carousel .background {
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
  }
  .titulo_nav {
    font-size: 80px;
    font-family: Cano;
  }
  .subtitle {
    font-size: 30px;
  }
  .explore .btn-lg {
    position: absolute;
    bottom: -185px;
    left: 30%;
  }
  .bounce {
    position: absolute;
    left: 44%;
    bottom: -150%;
  }
  #separador1,
  #separador2,
  #separador3,
  #separador4 {
    background-size: cover;
    background-position: center;
  }
  .introduccion_1 {
    font-size: 15px;
    font-weight: 600;
    color: #ffffff;
    text-transform: uppercase;
    position: absolute;
    transform: translate(-46%, -34%);
    letter-spacing: 2px;
    line-height: 25px;
  }
  .our-service-sass .main-title {
    font-size: 40px;
    letter-spacing: 1px;
    text-align: -webkit-center;
  }
  .introduccion_2 {
    font-size: 15px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    position: absolute;
    transform: translate(-132%, -65%);
    letter-spacing: 1px;
    line-height: 36px;
    text-align: center;
  }
  .tarjeta {
    max-width: 300px;
    margin: auto;
    padding: 26px 11px 10px;
    text-align: center;
    position: relative;
    transform: translate(0%, 9%);
  }
  #plan .img-plan img {
    visibility: hidden;
  }
  section #plan {
    display: block;
    height: 100%;
  }
  #plan .contenido_plan p {
    line-height: 26px;
    font-size: 20px;
    letter-spacing: 0.5px;
    color: rgb(165 199 247);
    margin: revert;
  }
  #plan .contenido_plan h2 {
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 3px;
    text-align: center;
  }
  #features {
    padding: 60px 0;
  }
  #features .botonadd {
    font-size: 16px;
    position: relative;
    top: 52px;
    left: 15%;
  }
  #features .show-box img {
    width: 75%;
    position: relative;
    transform: translate(17%, -15%);
  }
  #steps {
    padding: 60px 0;
  }
  #steps .container {
    padding-right: 40px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: 20px;
    padding-top: 55px;
    margin-top: auto;
  }
  #steps .img-step img {
    visibility: hidden;
  }
  #steps .botonadd {
    font-size: 17px;
    position: relative;
    top: 8px;
    left: 22%;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 25px;
    padding: 20px;
  }
  .titulo-faq {
    text-align: center;
    font-size: 34px;
    letter-spacing: 1px;
    font-weight: 600;
  }
  #faq {
    padding: 60px 0;
  }
  details {
    padding: 45px 70px 45px 45px;
    margin: 0 auto;
    position: relative;
    font-size: 18px;
    border: 1px solid rgb(185 15 241);
    border-radius: 45px;
    box-sizing: border-box;
    transition: all 0.3s;
    width: 90%;
  }
  summary .h4 {
    font-size: 18px;
    color: #ffffff;
    letter-spacing: 1px;
    line-height: 28px;
    font-family: "Jost";
  }
  .single-cta i {
    color: #aa43bd;
    font-size: 29px;
    float: left;
    margin-top: -19px;
    margin-left: -37px;
  }
  footer .botonadd {
    border-radius: 14px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 15px 15px 15px;
    font-family: "Jost", sans-serif;
    position: relative;
    top: -10px;
    left: auto;
  }
  .copyright-text p {
    margin: 0;
    font-size: 13px;
    color: rgb(135, 135, 135);
    font-weight: 600;
  }
  .footer-menu li a {
    font-size: 13px;
    color: rgb(135, 135, 135);
    font-weight: 600;
    position: relative;
    top: auto;
    left: -40px;
  }
  .footer-cta {
    margin-top: 8rem;
    margin-right: 4rem;
    margin-left: 4rem;
  }
  /* RESPONSIVE CONTACTO */
  /* .column,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  } */
  .container_contact {
    border-radius: 30px;
    background-color: #1c187e;
    padding: 10px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
  }
  .contacto_subtitulo {
    color: rgb(131, 126, 126);
    font-size: 20px;
    text-align: center;
  }
  .conversar p {
    font-size: 19px;
    position: relative;
    top: 19px;
    left: 15px;
    letter-spacing: 1px;
    font-weight: 600;
  }
  .column p:nth-child(3) {
    font-size: 17px;
    text-align: center;
    display: inline-block;
    position: relative;
    color: rgb(182, 182, 182);
    top: 22px;
    left: 0;
  }
  .conversar i.fas {
    font-size: 30px;
    position: relative;
    left: 0px;
    top: 47px;
  }
  .ilustracion_contacto {
    width: 100%;
    margin-top: 115px;
  }
}

/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media (min-width: 600px) {
  .introduccion_2 {
    font-size: 15px;
    --font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: 600;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    position: absolute;
    top: 49%;
    left: 62%;
    transform: translate(-136%, -70%);
    word-spacing: 4px;
    letter-spacing: 1px;
    line-height: 63px;
  }
}

/* 48em = 768px */
@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width: 801px) {
  .logox {
    display: block;
    float: left;
    width: 8%;
    height: 100%;
    padding: 10px 20px;
  }
  .header li a {
    display: block;
    padding: 22px;
    border-right: 2px solid rgb(129 50 233);
    text-decoration: none;
    font-size: 19px;
  }
  .titulo_nav {
    font-family: Cano;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
    font-size: 108px;
    letter-spacing: 2px;
    word-spacing: 2px;
  }
  .covertext {
    position: absolute;
    top: 200px;
    left: 0px;
    right: 0px;
  }
  .subtitle {
    font-size: 35px;
    color: #ffffff;
    text-align: center;
  }
  .explore .btn-lg {
    font-family: "Jost", sans-serif;
    border-radius: 49px;
    padding: 15px 25px;
    font-size: 25px;
    background-image: none;
    background-color: #8c03c58f;
    border-color: #00000070;
    color: #ffffff;
    position: absolute;
    bottom: -115px;
    left: 44%;
    letter-spacing: 1px;
  }
  .bounce {
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
    position: absolute;
    left: 48%;
    bottom: -92%;
    font-weight: 900;
    font-size: 6rem;
  }
  .introduccion_1 {
    font-size: 30px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    position: absolute;
    top: 33%;
    left: 63%;
    transform: translate(-50%, -50%);
    word-spacing: 3px;
    letter-spacing: 3px;
    line-height: 46px;
  }
  .introduccion_2 {
    font-size: 30px;
    --font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: 600;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    position: absolute;
    top: 49%;
    left: 62%;
    transform: translate(-136%, -70%);
    word-spacing: 4px;
    letter-spacing: 1px;
    line-height: 63px;
  }
  #features .show-box img {
    width: 100%;
    position: relative;
    left: -105px;
    top: 125px;
  }
  #features .botonadd {
    font-size: 16px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    position: relative;
    top: 60px;
    left: 535px;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 2px;
    border-radius: 25px;
    text-transform: uppercase;
    /* padding: 2rem 6rem; */
  }
  #steps .botonadd {
    font-size: 16px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    position: relative;
    top: 5px;
    left: 542px;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 25px;
  }
  #steps .container {
    padding-right: 40px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 55px;
    margin-top: auto;
  }
  #steps .img-step img {
    visibility: visible;
  }
  #plan .contenido_plan h2 {
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 3px;
    text-align: inherit;
  }
  #plan .img-plan img {
    visibility: visible;
  }
  .tarjeta {
    box-shadow: 0 4px 15px 0 rgb(255 0 200 / 70%);
    max-width: 300px;
    margin: auto;
    padding: 26px 11px 10px;
    text-align: center;
    position: absolute;
    transform: translate(285%, -60%);
  }
  .footer-cta {
    border-bottom: 2px solid rgb(194, 40, 233);
    margin-top: 8rem;
  }
  /* RESPONSIVE CONTACTO */
  .container_contact {
    border-radius: 30px;
    background-color: #1c187e;
    padding: 10px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 1010px;
  }
  .conversar p {
    position: relative;
    top: 18px;
    left: -28px;
    font-size: 24px;
    letter-spacing: 1px;
    font-weight: 600;
  }
  .conversar i.fas {
    font-size: 30px;
    position: relative;
    left: 0;
    top: 21px;
  }
}
/* big landscape tablets, laptops, and desktops */
@media (min-width: 1025px) {
  .introduccion_1 {
    font-size: 30px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    position: absolute;
    top: 33%;
    left: 63%;
    transform: translate(-50%, -50%);
    word-spacing: 3px;
    letter-spacing: 3px;
    line-height: 46px;
  }
  .introduccion_2 {
    font-size: 30px;
    --font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: 600;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    position: absolute;
    top: 49%;
    left: 62%;
    transform: translate(-136%, -70%);
    word-spacing: 4px;
    letter-spacing: 1px;
    line-height: 63px;
  }
}
/* hi-res laptops and desktops */
@media (min-width: 1281px) {
  .introduccion_1 {
    font-size: 30px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    position: absolute;
    top: 33%;
    left: 63%;
    transform: translate(-50%, -50%);
    word-spacing: 3px;
    letter-spacing: 3px;
    line-height: 46px;
  }
  .introduccion_2 {
    font-size: 30px;
    --font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: 600;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    position: absolute;
    top: 49%;
    left: 62%;
    transform: translate(-136%, -70%);
    word-spacing: 4px;
    letter-spacing: 1px;
    line-height: 63px;
  }
}
/* ######################################## FIN RESPONSIVE ######################################## */
